
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #5D5F6D;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

svg {
  height: 1em;
  width: 1em;
}

svg path {
  stroke: inherit;
  fill: inherit;
}

body {
  font-weight: 500;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  top: 0;
  z-index: 1000;
  background: rgba(35, 37, 54, 0.6862745098);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.open-modal .modal {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.modal__content {
  background: #FFF;
  width: 914px;
  height: 920px;
  padding: 128px;
  padding-right: 100px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 48px;
  right: 48px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.modal__close:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.modal__title {
  color: #232536;
  font-size: 48px;
  font-weight: 600;
  line-height: 120.833%;
  /* 120.833% */
  max-width: 658px;
}

.modal__text {
  padding-top: 24px;
  padding-bottom: 68px;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 24px;
}

.modal__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 8px;
  max-width: 405px;
}

.modal__input label {
  color: #232536;
  font-size: 14px;
  line-height: 20px;
  /* 142.857% */
  opacity: 0.6;
}

.modal__input input {
  color: #232536;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none;
  font-weight: 400;
  cursor: pointer;
  line-height: 24px;
  /* 150% */
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(35, 37, 54, 0.4509803922);
}

.modal__input input:hover::-webkit-input-placeholder {
  color: #232536;
}

.modal__input input:hover::-moz-placeholder {
  color: #232536;
}

.modal__input input:hover:-ms-input-placeholder {
  color: #232536;
}

.modal__input input:hover::-ms-input-placeholder {
  color: #232536;
}

.modal__input input:hover::placeholder {
  color: #232536;
}

.modal__input input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.modal__input input:focus::-moz-placeholder {
  opacity: 0;
}

.modal__input input:focus:-ms-input-placeholder {
  opacity: 0;
}

.modal__input input:focus::-ms-input-placeholder {
  opacity: 0;
}

.modal__input input:focus::placeholder {
  opacity: 0;
}

.modal__input input::-webkit-input-placeholder {
  color: rgba(35, 37, 54, 0.5333333333);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.modal__input input::-moz-placeholder {
  color: rgba(35, 37, 54, 0.5333333333);
  -moz-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.modal__input input:-ms-input-placeholder {
  color: rgba(35, 37, 54, 0.5333333333);
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.modal__input input::-ms-input-placeholder {
  color: rgba(35, 37, 54, 0.5333333333);
  -ms-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.modal__input input::placeholder {
  color: rgba(35, 37, 54, 0.5333333333);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.modal__btn {
  margin-top: 30px;
}

.open-modal {
  overflow: hidden;
}

.header {
  background: #232536;
  padding: 27px 0px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header__action {
  color: var(--secondary-orange, #FFD3AF);
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  gap: 8px;
}

.header__action span {
  color: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  line-height: 24px;
  /* 150% */
}

.menu__link:hover {
  color: #fff;
}

.active-link {
  position: relative;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.active-link::before {
  content: "";
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  position: absolute;
  top: -28px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #FFA155;
}

._header-scroll {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 90;
  padding: 15px 0px;
  background: rgba(35, 37, 54, 0.4588235294);
  -webkit-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: animHeader;
          animation-name: animHeader;
}

@-webkit-keyframes animHeader {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animHeader {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.icon-menu {
  display: none;
}

.main {
  background: #232536;
  padding-top: 176px;
  padding-bottom: 32px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 33px;
}

.main__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__content {
  padding-top: 56px;
}

.main__decor {
  width: 24px;
  height: 24px;
  background: rgba(255, 255, 255, 0.06);
}

.main__title {
  color: #FFF;
  font-size: 56px;
  font-weight: 600;
  line-height: 121.429%;
  /* 121.429% */
  max-width: 39.0625rem;
  padding-top: 24px;
}

.main__text {
  max-width: 33rem;
  padding-top: 32px;
  padding-bottom: 24px;
}

.main__image {
  -webkit-transition: all 1s linear 0s;
  transition: all 1s linear 0s;
  -webkit-animation: moveUpDown 2s linear infinite;
          animation: moveUpDown 2s linear infinite;
}

.text {
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.btn {
  background: #444CFC;
  width: 219px;
  height: 64px;
  line-height: 24px;
  /* 150% */
  color: #FFF;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.btn img {
  position: absolute;
  left: 0;
  top: 0;
}

.btn:hover {
  background-color: #2f36b9;
  gap: 22px;
}

.main-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-clients__title {
  font-size: 18px;
  line-height: 28px;
  color: #FFF;
}

.main-clients__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes moveUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes moveUpDown {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@media (min-width: 81.875em) {
  .modal__title {
    font-size: 3rem;
  }

  .main__title {
    font-size: 3.5rem;
  }

  .main__text {
    font-size: 1rem;
  }

  .main-clients {
    gap: 2rem;
  }

  .main-clients__row {
    gap: 2rem;
  }
}

@media (min-width: 90em) {
  .menu__link {
    font-size: 1rem;
  }
}

@media (min-width: 100em) {
  .menu__list {
    gap: 2rem;
  }
}

@media (max-width: 1230px) {
  .main-clients {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (max-width: 1010px) {
  .main-clients__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 48em) {
  .menu__list {
    gap: 1rem;
  }

  .menu__link {
    font-size: 0.875rem;
  }
}

@media (max-width: 620px) {
  .main__image {
    width: 80%;
  }

  .main__image img {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .modal__content {
    width: 100%;
  }
}

@media (max-width: 20em) {
  .modal__title {
    font-size: 1.625rem;
  }

  .main__title {
    font-size: 2rem;
  }

  .main__text {
    font-size: 0.875rem;
  }

  .main-clients {
    gap: 0.625rem;
  }

  .main-clients__row {
    gap: 0.0000000625rem;
  }
}

@media (max-width: 61.99875em) {
  .modal__content {
    width: 500px;
    height: 100%;
    padding: 25px;
    padding-right: 35px;
    padding-top: 50px;
    overflow: scroll;
  }

  .modal__close {
    right: 10px;
    top: 10px;
  }

  .main {
    padding-top: 90px;
  }

  .main__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 50px;
    text-align: center;
  }

  .main__decor {
    margin-left: 50px;
  }

  .main__text {
    margin: 0 auto;
  }

  .main__btn {
    margin: 0 auto;
  }
}

@media (max-width: 47.99875em) {
  .header__action {
    font-size: 1.75rem;
  }

  .header__action span {
    display: none;
  }

  .menu__body {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #232536;
    -webkit-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    -webkit-transform: translate(0px, -100%);
        -ms-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
    opacity: 0;
    z-index: 100;
  }

  .menu-open .menu__body {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 32px;
  }

  .menu__link {
    font-size: 1.625rem;
  }

  .active-link::before {
    top: 0;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.625rem;
    z-index: 105;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #fff;
    border-radius: 4px;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(47% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .main__content {
    padding-top: 0;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (min-width: 20em) and (max-width: 81.875em) {
@supports (font-size: clamp( 1.625rem , 1.1805555556rem  +  2.2222222222vw , 3rem )) {
    .modal__title {
      font-size: clamp( 1.625rem , 1.1805555556rem  +  2.2222222222vw , 3rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 1.1805555556rem  +  2.2222222222vw , 3rem )) {
    .modal__title {
      font-size: calc(1.625rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 2rem , 1.5151515152rem  +  2.4242424242vw , 3.5rem )) {
    .main__title {
      font-size: clamp( 2rem , 1.5151515152rem  +  2.4242424242vw , 3.5rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.5151515152rem  +  2.4242424242vw , 3.5rem )) {
    .main__title {
      font-size: calc(2rem + 1.5 * (100vw - 20rem) / 61.875);
    }
}

@supports (font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem )) {
    .main__text {
      font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.8345959596rem  +  0.202020202vw , 1rem )) {
    .main__text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .main-clients {
      gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .main-clients {
      gap: calc(0.625rem + 1.375 * (100vw - 20rem) / 61.875);
    }
}

@supports (gap: clamp( 0.0000000625rem , -0.6464645638rem  +  3.2323231313vw , 2rem )) {
    .main-clients__row {
      gap: clamp( 0.0000000625rem , -0.6464645638rem  +  3.2323231313vw , 2rem );
    }
}

@supports not (gap: clamp( 0.0000000625rem , -0.6464645638rem  +  3.2323231313vw , 2rem )) {
    .main-clients__row {
      gap: calc(0.0000000625rem + 1.9999999375 * (100vw - 20rem) / 61.875);
    }
}
}

@media (min-width: 48em) and (max-width: 100em) {
@supports (gap: clamp( 1rem , 0.0769230769rem  +  1.9230769231vw , 2rem )) {
    .menu__list {
      gap: clamp( 1rem , 0.0769230769rem  +  1.9230769231vw , 2rem );
    }
}

@supports not (gap: clamp( 1rem , 0.0769230769rem  +  1.9230769231vw , 2rem )) {
    .menu__list {
      gap: calc(1rem + 1 * (100vw - 48rem) / 52);
    }
}
}

@media (min-width: 48em) and (max-width: 90em) {
@supports (font-size: clamp( 0.875rem , 0.7321428571rem  +  0.2976190476vw , 1rem )) {
    .menu__link {
      font-size: clamp( 0.875rem , 0.7321428571rem  +  0.2976190476vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7321428571rem  +  0.2976190476vw , 1rem )) {
    .menu__link {
      font-size: calc(0.875rem + 0.125 * (100vw - 48rem) / 42);
    }
}
}